@import '../components/extenders';

// Background Color
$background-primary: #ffffff;
$background-color: #F4F4F6;
$background-input: #D9DFEB;

// Text Color
$primary-text-color: #5285EC;
$secondary-text-color: #537178;
$third-text-color: #8F9EA2;