@import '../../scss/components/variable';

.button {
  @extend %font-style;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  margin-top: 10px;
  color: $background-primary;
  background-color: $primary-text-color;

  &.longButton {
    width: auto;
    margin: 0;
  }

  &.shortButton {
    width: 120px;
    margin: 0 auto;
  }
}