@import '../../scss/components/variable';

.card {
  @extend %valign;
  height: 100%;

  .cardBox {
    width: 300px;
    top: 40%;
    position: absolute;
    border-radius: 12px;
    padding: 40px 25px;
    box-shadow: 0px 3px 6px #ccc;
    background-color: $background-primary;

    .cardName {
      @extend %font-style;
      text-align: center;
      margin-bottom: 20px;
      color: $secondary-text-color;
    }

    .cardInput {
      margin-bottom: 10px;
    }
  }
}